[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token
[submodule "lib/common-contracts"]
	path = lib/common-contracts
	url = https://github.com/evolutionlandorg/common-contracts
